[flake8]
# ignore:
# H101: Use TODO(NAME)
# H306: imports not in alphabetical order (time, os)
ignore = H101,H306
max-line-length = 120
exclude = .venv,.git,.tox,dist,doc,*lib/python*,*egg,build,.venv/**/*.py